@{
    ViewData["Title"] = "Admin";
}

<!-- Portfolio Section Heading -->
<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Admin area</h2>

<!-- Icon Divider -->
<div class="divider-custom">
    <div class="divider-custom-line"></div>
    <div class="divider-custom-icon">
        <i class="fas fa-star"></i>
    </div>
    <div class="divider-custom-line"></div>
</div>

<div class="list-group">
    <a asp-route="NewProperty" class="list-group-item list-group-item-action">Create a new property</a>
    <a asp-route="Logout" class="list-group-item list-group-item-action">Logout</a>
</div>