@model RealEstate.Models.PropertyViewModel

@{
    ViewData["Title"] = "Admin";
}

<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">
    Upload images
</h2>


<form asp-route="SaveImages" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Property.Id" name="propertyId"/>

    <div class="form-group">
        <div class="col-md-10">
            <p>Upload one or more files using this form:</p>
            <input type="file" name="files" multiple accept="image/png, image/jpeg">
        </div>
    </div>

    <div class="form-group">
        <div class="row justify-content-center">
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2">Upload</button>
            </div>
            <div class="col-auto">
                <a asp-route="EditProperty" asp-all-route-propertyId="Model.Property.Id" class="nav-link">Back</a>
            </div>
        </div>
    </div>
</form>